@using System.Text;
@using Generacion.Models.DatosConsola;
@using Generacion.Models.Mantenimiento;
@using Generacion.Models.Session;
@using Microsoft.AspNetCore.Html;
@{
    Dictionary<string, List<SessionOperario>> datoHorario = ViewData["horarioOperarios"] as Dictionary<string, List<SessionOperario>>;
    List<SessionOperario> mañana = datoHorario.ContainsKey("mañana") ? datoHorario["mañana"] : new List<SessionOperario>();
    List<SessionOperario> tarde = datoHorario.ContainsKey("tarde") ? datoHorario["tarde"] : new List<SessionOperario>();
    List<SessionOperario> noche = datoHorario.ContainsKey("noche") ? datoHorario["noche"] : new List<SessionOperario>();


    Dictionary<string, Dictionary<int, CilindroAceiteCarter>> datosTKVessel = ViewData["datosTKVessel"] as Dictionary<string, Dictionary<int, CilindroAceiteCarter>>;
    Dictionary<string, List<RegistrosDatosEngine>> runingHours = ViewData["RuningHours"] as Dictionary<string, List<RegistrosDatosEngine>>;


    DateTime fechaActual = DateTime.Now;


     Func<List<SessionOperario>, int, IHtmlContent> MostrarTurno = (operarios, maxOperarios) =>
                   {
                       StringBuilder sb = new StringBuilder();
                       int cantidadDeDatos = 0;

                       foreach (SessionOperario operario in operarios)
                       {
                           cantidadDeDatos++;
                           if(maxOperarios< cantidadDeDatos)
                           continue;

                           if (cantidadDeDatos == maxOperarios)
                           {
                               sb.Append($"   /   {operario.NombreOperario} ");
                           }
                           else
                           {
                               sb.Append($"{operario.NombreOperario}");
                           }
                       }

                       if (cantidadDeDatos == 0)
                       {
                           return new HtmlString("<p>             /             </p>");
                       }
                       else
                       {
                           return new HtmlString($"<p>{sb.ToString()}</p>");
                       }
                   };
}

<style>
    .row {
        margin: 0;
    }

    .detail-report-title {
        margin: 20px;
        padding: 20px 0 0 0;
    }

    .detail-report {
        padding: 20px 0 0 20px;
    }

    .detail-hours {
        width: 6%;
    }

    .content-report-motors input {
        border: none;
        padding: 5px 0 0 0;
        width: 90%;
    }

    .serv input {
        border: none;
        padding: 5px 0 0 0;
        width: 93%;
    }

    .imput-hours {
        width: 50px !important;
        position: absolute;
    }

    input::placeholder {
        color: #999;
    }

    input[type="file"] {
        display: block;
    }

    .img-carter {
        width: 305px;
        height: 230px;
        border: solid black 0.5px;
    }

    h3 {
        font-weight: bold;
        font-size: 18px;
    }

    h2 {
        font-weight: bold;
        font-size: 20px;
    }

    .viñeta-format div {
        border: none;
        display: flex;
    }

    .viñeta-format input {
        border: none;
        padding: 5px 0 0 0;
        width: 93%;
    }

    input {
        border: none;
    }

    .content-table {
        width: 110px;
        text-align-last: center;
    }

    th, td {
        border: solid black 1.5px;
        text-align: center;
    }

    .content-table-content {
        background: #71B5E0;
    }

    .content-table-line {
        text-align: -webkit-center;
        padding: 10px 0 10px 0;
    }

    .boton-eliminar {
        border: groove;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        background: red;
        position: absolute;
    }

        .boton-eliminar:hover {
            background: #F95757;
            cursor: pointer;
        }

    .div-viñeta {
        display: inline-block;
        width: 20px;
    }

    .form-control {
        display: revert;
        color: black;
        border: none;
        padding: 5px 0 0 60px;
        width: 100%;
        overflow-y: hidden;
    }

    textarea {
        resize: none;
    }

    .image-logo {
        height: 158px;
        width: 310px;
    }
</style>

<div id="reportDealy" class="content-report">
    <div class="header-detail-report">
        <div class="title-report col-md-12">
            <h2>REPORTE DIARIO DE MANTENIMIENTO</h2>
            <h3 id="tituloMantenimiento">Central Termica</h3>
        </div>
        <div class="row">
            <div class="col-md-6" style="display: flow;">
                <div class="content-img-logo">
                    <img class="image-logo" src="./img/logo_elec.png" />
                </div>
                @if (runingHours["Engine1"].Count > 5)
                {
                    <div>
                        <p style="width:50%">Horas motor EG01:</p>
                        <input value="@runingHours["Engine1"][5].RunHours" type="number" id="horasEG1" style="width:50%; text-align: center;" placeholder="0000 Hrs" />
                    </div>
                }
                else
                {
                    <div>
                        <p style="width:50%">Horas motor EG01:</p>
                        <input value="0" type="number" id="horasEG1" style="width:50%; text-align: center;" placeholder="0000 Hrs" />
                    </div>
                }

            </div>
            <div class="col-md-6">
                @{
                    StringBuilder sb = new StringBuilder();
                    int cantidadDeDatos = 0;
                    <div>
                        <p1>Código</p1>
                        <p>ELD-REPORT @fechaActual.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div>
                        <p1>Turno 1</p1>
                        @MostrarTurno(mañana,2)
                    </div>

                    <div>
                        <p1>Turno 2</p1>
                        @MostrarTurno(tarde,2)
                    </div>

                    <div>
                        <p1>Turno 3</p1>
                        @MostrarTurno(noche,2)
                    </div>
                    <div>
                        <p1>Fecha</p1>
                        <p>@fechaActual.ToString("dd/MM/yyyy")</p>
                    </div>
                }
                @if (runingHours["Engine2"].Count > 5)
                {
                    <div>
                        <p1>Horas motor EG02:</p1>
                        <input value="@runingHours["Engine2"][5].RunHours" type="number" id="horasEG2" style="width:100%; text-align: center;" placeholder="0000 Hrs" />
                    </div>
                }
                else
                {
                    <div>
                        <p1>Horas motor EG02:</p1>
                        <input value="0" type="number" id="horasEG2" style="width:100%; text-align: center;" placeholder="0000 Hrs" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="detail-report-title">
        <div>
            <h2>1. MOTOGENERADORES. </h2>
            <div>
                <div class="detail-report">
                    <h3>UNIDAD EG-01.</h3>
                    <div>
                        <div class="content-report-motors ">
                            <div class="content-generators" id="contenedorDet-1">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv1">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen1" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes1">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-2">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv2">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen2" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes2">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-3">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv3">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen3" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes3">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-4">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv4">Agregar detalle</button>
                        </div>
                        <div>
                            @{
                                @if (datosTKVessel.Count > 0)
                                {

                                    <div class="content-table-line">
                                        <table position="tablaCarter" id="EG1">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ANTES</th>
                                                    <th>DESPUES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Nivel Carter</td>
                                                    <td descripcion="nivelCarterAnt"><input value="@(datosTKVessel.ContainsKey("Anterior") ? datosTKVessel["Anterior"][1].NivelCarterNuevo :0)" /></td>
                                                    <td descripcion="nivelCarterNuevo"><input value="@(datosTKVessel.ContainsKey("Nuevo") ? datosTKVessel["Nuevo"][1].NivelCarterNuevo :0)" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Nivel TK Nuevo</td>
                                                    <td descripcion="nivelTKAnt"><input value="@(datosTKVessel.ContainsKey("Anterior") ? datosTKVessel["Anterior"][1].NivelTKNuevo :0)" /></td>
                                                    <td descripcion="nivelTKNuevo"><input value="@(datosTKVessel.ContainsKey("Nuevo") ? datosTKVessel["Nuevo"][1].NivelTKNuevo :0)" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Contometro</td>
                                                    <td descripcion="contometroAnt"><input value="@(datosTKVessel.ContainsKey("Anterior") ? datosTKVessel["Anterior"][1].ContometroNuevo :0)" /></td>
                                                    <td descripcion="contometroNuevo"><input value="@(datosTKVessel.ContainsKey("Nuevo") ? datosTKVessel["Nuevo"][1].ContometroNuevo :0)" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }

                            <div>
                                <input type="file" id="inputImagen4" accept="image/*">
                                <div class="content-generators-imagen" id="contenedorImagenes4">
                                    <!-- Aquí se mostrarán las imágenes -->
                                </div>
                            </div>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen5" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes5">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-5">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv5">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen6" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes6">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-6">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv6">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen7" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes7">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-7">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv7">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen8" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes8">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-8">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv8">Agregar detalle</button>
                        </div>
                    </div>
                </div>
                <div class="detail-report">
                    <h3>UNIDAD EG-02.</h3>
                    <div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen9" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes9">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-9">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv9">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen10" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes10">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-10">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv10">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen11" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes11">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-11">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv11">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors">
                            <input type="file" id="inputImagen12" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes12">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-12">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv12">Agregar detalle</button>
                        </div>
                        <div>
                            @{
                                @if (datosTKVessel.Count > 0)
                                {
                                    <div class="content-table-line">
                                        <table position="tablaCarter" id="EG2">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ANTES</th>
                                                    <th>DESPUES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Nivel Carter</td>
                                                    <td descripcion="nivelCarterAnt"><input value="@(datosTKVessel.ContainsKey("Anterior") ? datosTKVessel["Anterior"][2].NivelCarterNuevo :0)" /></td>
                                                    <td descripcion="nivelCarterNuevo"><input value="@(datosTKVessel.ContainsKey("Nuevo") ? datosTKVessel["Nuevo"][2].NivelCarterNuevo :0)" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Nivel TK Nuevo</td>
                                                    <td descripcion="nivelTKAnt"><input value="@(datosTKVessel.ContainsKey("Anterior") ? datosTKVessel["Anterior"][2].NivelTKNuevo :0)" /></td>
                                                    <td descripcion="nivelTKNuevo"><input value="@(datosTKVessel.ContainsKey("Nuevo") ? datosTKVessel["Nuevo"][2].NivelTKNuevo :0)" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Contometro</td>
                                                    <td descripcion="contometroAnt"><input value="@(datosTKVessel.ContainsKey("Anterior") ? datosTKVessel["Anterior"][2].ContometroNuevo :0)" /></td>
                                                    <td descripcion="contometroNuevo"><input value="@(datosTKVessel.ContainsKey("Nuevo") ? datosTKVessel["Nuevo"][2].ContometroNuevo :0)" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            }
                            <div>
                                <input type="file" id="inputImagen13" accept="image/*">
                                <div class="content-generators-imagen" id="contenedorImagenes13">
                                    <!-- Aquí se mostrarán las imágenes -->
                                </div>
                            </div>
                        </div>
                        <div class="content-report-motors ">
                            <input type="file" id="inputImagen14" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes14">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-13">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv13">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors ">
                            <input type="file" id="inputImagen15" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes15">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-14">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv14">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors ">
                            <input type="file" id="inputImagen16" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes16">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-15">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv15">Agregar detalle</button>
                        </div>
                        <div class="content-report-motors ">
                            <input type="file" id="inputImagen17" accept="image/*">
                            <div class="content-generators-imagen" id="contenedorImagenes17">
                                <!-- Aquí se mostrarán las imágenes -->
                            </div>
                            <div class="content-generators" id="contenedorDet-16">
                                <!-- Los divs generados se agregarán aquí -->
                            </div>
                            <button class="btn btn-primary description-rp" id="agregarDiv16">Agregar detalle</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="detail-report-title">
        <div>
            <h2>2. SERVICIOS AUXILIARES. </h2>
            <div>
                <div class="content-report-motors">
                    <div class="content-generators" id="contenedorDet-17">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv17">Agregar detalle</button>
                </div>

                <div class="content-report-motors">
                    <input type="file" id="inputImagen18" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes18">
                    </div>
                    <div class="content-generators" id="contenedorDet-18">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv18">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen19" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes19">
                    </div>
                    <div class="content-generators" id="contenedorDet-19">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv19">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen20" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes20">
                    </div>
                    <div class="content-generators" id="contenedorDet-20">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv20">Agregar detalle</button>
                </div>


                <div class="content-table-line">
                    <table class="table-serv" position="tablaVerssel">
                        <thead>
                            <tr>
                                <th class="content-table">EG01</th>
                                <th class="content-table">EG02</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="content-table ">
                                    <input position="1" class="content-table-content" value="0">
                                </td>
                                <td class="content-table ">
                                    <input position="2" class="content-table-content" value="0">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen21" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes21">
                    </div>
                    <div class="content-generators" id="contenedorDet-21">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv21">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen22" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes22">
                    </div>
                    <div class="content-generators" id="contenedorDet-22">
                        <!-- Los divs generados se agregarán aquí -->
                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv22">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen23" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes23">
                    </div>
                    <div class="content-generators" id="contenedorDet-23">
                        <!-- Los divs generados se agregarán aquí -->
                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv23">Agregar detalle</button>
                </div>

                <div class="content-report-motors">
                    <input type="file" id="inputImagen24" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes24">
                    </div>
                    <div class="content-generators" id="contenedorDet-24">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv24">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen25" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes25">
                    </div>
                    <div class="content-generators" id="contenedorDet-25">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv25">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen26" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes26">
                    </div>
                    <div class="content-generators" id="contenedorDet-26">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv26">Agregar detalle</button>
                </div>
                <div class="content-report-motors">
                    <input type="file" id="inputImagen27" accept="image/*">
                    <div class="content-generators-imagen" id="contenedorImagenes27">
                    </div>
                    <div class="content-generators" id="contenedorDet-27">
                        <!-- Los divs generados se agregarán aquí -->

                    </div>
                    <button class="btn btn-primary description-rp" id="agregarDiv27">Agregar detalle</button>
                </div>
            </div>
            <div style="padding:20px 0 0 20px;">
                <h3>2.1  SEGURIDAD Y SALUD EN EL TRABAJO. </h3>
                <div>
                    <div class="content-report-motors">
                        <div class="content-generators" id="contenedorDet-28">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv28">Agregar detalle</button>
                    </div>

                    <div class="content-report-motors">
                        <input type="file" id="inputImagen28" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes28">
                        </div>
                        <div class="content-generators" id="contenedorDet-29">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv29">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen29" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes29">
                        </div>
                        <div class="content-generators" id="contenedorDet-30">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv30">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen30" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes30">
                        </div>
                        <div class="content-generators" id="contenedorDet-31">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv31">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen31" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes31">
                        </div>
                        <div class="content-generators" id="contenedorDet-32">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv32">Agregar detalle</button>
                    </div>

                    <div class="content-report-motors">
                        <input type="file" id="inputImagen32" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes32">
                        </div>
                        <div class="content-generators" id="contenedorDet-33">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv33">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen33" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes33">
                        </div>
                        <div class="content-generators" id="contenedorDet-34">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv34">Agregar detalle</button>
                    </div>
                </div>
            </div>
            <div style="padding:20px 0 0 20px;">
                <h3>2.2  SERVICIOS Y CONTRATISTAS. </h3>
                <div>
                    <div class="content-report-motors">
                        <div class="content-generators" id="contenedorDet-35">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv35">Agregar detalle</button>
                    </div>

                    <div class="content-report-motors">
                        <input type="file" id="inputImagen34" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes34">
                        </div>
                        <div class="content-generators" id="contenedorDet-36">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv36">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen35" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes35">
                        </div>
                        <div class="content-generators" id="contenedorDet-37">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv37">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen36" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes36">
                        </div>
                        <div class="content-generators" id="contenedorDet-38">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv38">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen37" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes37">
                        </div>
                        <div class="content-generators" id="contenedorDet-39">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv39">Agregar detalle</button>
                    </div>

                    <div class="content-report-motors">
                        <input type="file" id="inputImagen38" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes38">
                        </div>
                        <div class="content-generators" id="contenedorDet-40">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv40">Agregar detalle</button>
                    </div>
                    <div class="content-report-motors">
                        <input type="file" id="inputImagen39" accept="image/*">
                        <div class="content-generators-imagen" id="contenedorImagenes39">
                        </div>
                        <div class="content-generators" id="contenedorDet-41">
                            <!-- Los divs generados se agregarán aquí -->
                        </div>
                        <button class="btn btn-primary description-rp" id="agregarDiv41">Agregar detalle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="descargarPDF" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Descargar PDF</a>


<button style="position: fixed;" class="btn btn-info floating-button" id="btnAbrirModal">Abrir Historial</button>
<div id="miModal" class="modal" style="height: auto;width: 100%;display: flex;justify-content: center;">
    <div class="modal-contenido" style="text-align: center;width: 65%;">
        <!-- Contenido del historial se cargará aquí -->
        <button class="btn btn-outline-danger boton-eliminar" class="cerrar" id="btnCerrarModal">&times;</button>
        <div id="contenidoModal"></div>
    </div>
</div>





<script>
    $(document).ready(function () {
        $("#btnAbrirModal").click(function () {
            $.ajax({
                url: '/Historial/Index?idVista=' + 1,
                method: 'POST',
                success: function (data) {
                    var $data = $(data);

                    var $reportDealy = $data.find('#historialOperario');
                    $reportDealy.css({
                        // 'background- color': '#f8f9fc'
                    });
                    $reportDealy.find('button').remove();

                    $('#contenidoModal').html($reportDealy);

                    $reportDealy.find('input').prop('disabled', true);
                    $reportDealy.find('input').css({
                        'background-color': '#f8f9fc !important'
                    });
                    $reportDealy.find('textarea').prop('disabled', true);
                    $reportDealy.find('textarea').css({
                        'background-color': '#f8f9fc !important'
                    });


                    $('#miModal').show();
                },
                error: function () {
                }
            });
        });

        $("#btnCerrarModal").click(function () {
            $("#miModal").hide();
        });

        var tituloMantenimiento = document.getElementById("tituloMantenimiento");
        tituloMantenimiento.innerText = "Central Termica " + datosOperario.IdSitio;

    });
</script>

<script>


    const botonNav = document.getElementById("ocultarNav");
    botonNav.style.display = "block";

    function eliminarDiv(div) {
        const contenedor = div.parentNode;

        contenedor.removeChild(div);
    }

    let contador = 1;
    let contadorUno = 1;

    function agregarDiv(value) {
        const cadenaSinContenedor = value.replace(/contenedor/g, '');
        const IdCasilla = cadenaSinContenedor.split('-');

        const contenedor = document.getElementById(value);
        const inputsDentroDelContenedor = contenedor.querySelectorAll('input');
        const cantidadDeInputs = inputsDentroDelContenedor.length; /// 2;

        const nuevoDiv = document.createElement('div');
        const nuevoInput = document.createElement('textarea');//input');
        nuevoInput.className = "form-control";
        nuevoInput.setAttribute('casillaId', IdCasilla[0]);
        nuevoInput.setAttribute('casillaDiv', IdCasilla[1]);
        nuevoInput.setAttribute('posicion', cantidadDeInputs);
        nuevoInput.setAttribute('id', cadenaSinContenedor);
        const nuevoInputHours = document.createElement('input');
        nuevoInputHours.setAttribute('casillaId', IdCasilla[0]);
        nuevoInputHours.setAttribute('casillaDiv', IdCasilla[1]);
        nuevoInputHours.setAttribute('posicion', cantidadDeInputs);
        const nuevoDivList = document.createElement('div');
        const nuevoBotonEliminar = document.createElement('button');

        nuevoInputHours.className = "imput-hours form-control";
        nuevoDivList.className = "div-viñeta";

        if (parseFloat(IdCasilla[1]) >= 17) {
            nuevoDivList.textContent = ">";

        } else {
            nuevoInputHours.placeholder = "00:00";
        }
        nuevoInput.placeholder = "Ingrese una Descripcion";

        nuevoDiv.style.border = 'none';

        nuevoDiv.id = `div-${contador}`;

        nuevoDiv.style.border = 'none';

        if (parseFloat(IdCasilla[1]) >= 17) {
            nuevoDiv.appendChild(nuevoDivList);
        } else {
            nuevoDiv.appendChild(nuevoInputHours);

        }
        nuevoDiv.appendChild(nuevoInput);

        // Agregar el botón de eliminación
        nuevoBotonEliminar.textContent = "X";
        nuevoBotonEliminar.className = "boton-eliminar"
        nuevoBotonEliminar.id = "btnEliminarDiv";
        nuevoBotonEliminar.onclick = function () {
            eliminarDiv(nuevoDiv);
        };

        nuevoDiv.appendChild(nuevoBotonEliminar);

        contenedor.appendChild(nuevoDiv);

        $(document).ready(function () {
            var textarea = $('#' + cadenaSinContenedor);

            textarea.on('input', function () {
                this.style.height = 'auto'; // Restablece la altura a automática
                this.style.height = (this.scrollHeight) + 'px'; // Ajusta la altura según el contenido
            });
        });
        contador++;
    }

    function ocultarCampos() {
        const opciones = document.getElementById('accordionSidebar');
        opciones.style.display = 'none';

        let numeroDivImagen = 0;
        const elementosImagen = document.querySelectorAll('.content-report-motors');
        elementosImagen.forEach(function (input, index) {
            numeroDivImagen++;
            const inputImagen = document.getElementById('inputImagen' + numeroDivImagen);
            const inputdiv = document.getElementById('agregarDiv' + numeroDivImagen);
            if (inputImagen) {
                inputImagen.style.display = 'none';
            }
            if (inputdiv) {
                inputdiv.style.display = 'none';
            }

            const btnEliminarDiv = document.querySelectorAll('.boton-eliminar');

            btnEliminarDiv.forEach(function (boton) {
                boton.style.display = 'none';
            });
        });
    }

    function MostrarCampos() {
        const opciones = document.getElementById('accordionSidebar');
        opciones.style.display = 'revert';
        let numeroDivImagen = 0;
        const elementosImagen = document.querySelectorAll('.content-report-motors');
        elementosImagen.forEach(function (input, index) {
            numeroDivImagen++;
            const inputImagen = document.getElementById('inputImagen' + numeroDivImagen);
            const inputdiv = document.getElementById('agregarDiv' + numeroDivImagen);
            if (inputImagen) {
                inputImagen.style.display = 'block';
            }
            if (inputdiv) {
                inputdiv.style.display = 'block';
            }

        });

        const btnEliminarDiv = document.querySelectorAll('.boton-eliminar');

        btnEliminarDiv.forEach(function (boton) {
            boton.style.display = 'revert';
        });
    }

    const elementos = document.querySelectorAll('.description-rp');

    let contadorServKey = 1;
    elementos.forEach(function (elemento) {
        const id = elemento.id;
        document.getElementById("agregarDiv" + contadorServKey).addEventListener('click', agregarDiv.bind(null, "contenedorDet-" + contadorServKey));
        contadorServKey++;
    });

    const contenedorKey = {
        "1": 'EG1-',
        "9": 'EG2-',
        "17": 'SERV-AUX-',
        "28": 'SEG-SAL-',
        "35": 'SERV-CONT-'
    };

    botonDescargarPDF = document.getElementById('descargarPDF');

    const datosGenerador = [];
    const datosServiciosAux = [];
    const datosServiciosSalud = [];
    const datosServiciosCont = [];
    var idReporteDiario = "";

    botonDescargarPDF.addEventListener('click', async function () {

        const resultado = await realizarPeticion("¿Estás seguro de que deseas realizar esta acción?");


        const elementosGenerators = document.querySelectorAll('.content-generators');
                            /*const listaValores =*/ obtenerDetalleInput(elementosGenerators);

        let countDatos = 1;
        let numGenerador = 0;
        idReporteDiario = datosOperario.IdSitio + '-ELD-REPORT-' + obtenerFecha("format");

        const listaMotoGeneradores = [
        ];
        const listaDescripcionServicios = [
        ];


        datosServiciosAux.forEach(item => {
            if (item.value != '') {
                var descripcionServicio = {
                    idServiciosAux: datosOperario.IdSitio + '-' + item.idItem,//idItem + obtenerFecha("format") + "-" + countItems,
                    idReporteDiario: idReporteDiario,
                    fecha: obtenerFecha("fecha"),
                    descripcion: item.inputDescripcion,
                    detalleContenido: {
                        Casilladiv: item.casilladiv,
                        Casillaid: item.casillaid,
                        Posicion: item.posicion
                    }
                };
                listaDescripcionServicios.push(descripcionServicio);
            }
        });

        datosGenerador.forEach(item => {
            if (item.value != '') {

                var motoGenerador = {
                    idDescripDiario: datosOperario.IdSitio + '-' + item.idItem,//idItem + obtenerFecha("format") + "-" + countItems,
                    idReporteDiario: idReporteDiario,
                    numeroGenerador: numGenerador,
                    fecha: obtenerFecha("fecha"),
                    hora: item.inputHours,
                    descripcion: item.inputDescripcion,
                    rutaImagen: '',
                    detalleContenido: {
                        Casilladiv: item.casilladiv,
                        Casillaid: item.casillaid,
                        Posicion: item.posicion
                    }
                };
                listaMotoGeneradores.push(motoGenerador);
            }
        });

        var datosCartel = obtenerTablasConAtributo();
        var datosexpansionVersel = ObtenerDatosVersel();
        var datosHorasGen = obtenerHorasGeneradas();
        const datosAEnviar = {
            motoGeneradores: listaMotoGeneradores,
            mantenimientoServicios: listaDescripcionServicios,
            cilindroAceiteCarter: datosCartel,
            listaExpansionVersel: datosexpansionVersel,
            reporteDiarioMantenimiento: datosHorasGen
        };
        console.log("datosAEnviar : ", datosAEnviar);
        var expansionVerselJson = JSON.stringify(datosAEnviar);

        fetch('@Url.Action("Index", "RegMantenimiento")', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(datosAEnviar)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.respuesta.idRespuesta === 0 || data.respuesta.idRespuesta === 1) {
                    Swal.fire({
                        title: "Success!!",
                        text: "Se guardaron los datos.",
                        icon: "success",
                        button: "Aww yiss!",
                    });
                } else {
                    Swal.fire({
                        title: "Error",
                        text: data.respuesta.mensaje,
                        icon: "error",
                        button: "OK",
                    });
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });

        guardarImagenesEnServidor();
        GuardarReportePDF();
    });


    function GuardarReportePDF() {

        // exportarpdftest();
        const element = document.getElementById('reportDealy');

        element.classList.add('savePDF');

        var doc = new jsPDF({
            orientation: 'portrait', // Cambiado a orientación vertical
            unit: 'mm',
            format: 'letter',
        });

        html2canvas(element, {
            scale: 1,
            useCORS: true,
            allowTaint: true,
            logging: true,
        }).then(function (canvas) {
            var imgData = canvas.toDataURL('image/png');

            // Ajusta las coordenadas x e y para agregar márgenes
            var marginLeft = 10;
            var marginTop = 10;

            doc.addImage(imgData, 'PNG', marginLeft, marginTop, doc.internal.pageSize.getWidth() - marginLeft * 2, doc.internal.pageSize.getHeight() - marginTop * 2);

            // Guardar el PDF
            doc.save('Deily-Mantenimiento-diario_' + obtenerFecha('format') + '.pdf');

            Swal.fire({
                title: "Success!!",
                text: "Se guardaron los datos.",
                icon: "success",
                button: "Aww yiss!",
            });
        });
    }

    function obtenerHorasGeneradas() {
        const horasEG1 = document.getElementById('horasEG1');
        const horasEG2 = document.getElementById('horasEG2');

        console.log("datosOperario : ", datosOperario);


        var datos = {
            idReporteDiario: idReporteDiario,
            fecha: obtenerFecha("fechaVista"),
            horasMotor01: parseInt(horasEG1.value),
            horasMotor02: parseInt(horasEG2.value),
            idOperario: datosOperario.IdOperario
        };
        return datos;
    }

    function obtenerDetalleInput(elementosInputs) {

        var idItem = "";
        const listaValores = [];
        let countItems = 1;
        elementosInputs.forEach(function (elemento) {
            const divs = elemento.querySelectorAll('div');

            if (countItems.toString() in contenedorKey) {
                idItem = contenedorKey[countItems.toString()];
            }

            divs.forEach(function (div) {
                const input = div.querySelector('input');
                const textarea = div.querySelector('textarea');



                if (input && textarea) {

                    const casillaid = input.getAttribute('casillaid');
                    const casilladiv = input.getAttribute('casilladiv');
                    const posicion = input.getAttribute('posicion');

                    datosGenerador.push({
                        inputHours: input.value,
                        inputDescripcion: textarea.value,
                        casillaid: casillaid,
                        casilladiv: casilladiv,
                        posicion: posicion,
                        idItem: datosOperario.IdSitio + '-' + idItem + obtenerFecha("format") //+ "-" + countItems
                    });
                }

                if (!input && textarea) {

                    const casillaid = textarea.getAttribute('casillaid');
                    const casilladiv = textarea.getAttribute('casilladiv');
                    const posicion = textarea.getAttribute('posicion');

                    datosServiciosAux.push({
                        inputHours: "",
                        inputDescripcion: textarea.value,
                        casillaid: casillaid,
                        casilladiv: casilladiv,
                        posicion: posicion,
                        idItem: datosOperario.IdSitio + '-' + idItem + obtenerFecha("format") //+ "-" + countItems
                    });
                }
            });
            countItems++;

        });
        return listaValores;
    }






    let numeroDivImagen = 0;
    const imagenesSeleccionadas = []; // Array para almacenar las imágenes seleccionadas

    const elementosImagen = document.querySelectorAll('.content-report-motors');
    elementosImagen.forEach(function (input, index) {
        numeroDivImagen++;
        const inputImagen = document.getElementById('inputImagen' + numeroDivImagen);
        const contenedorImagenes = document.getElementById('contenedorImagenes' + numeroDivImagen);
        if (inputImagen != null) {
            manejarCambioInput(inputImagen, contenedorImagenes);
        }
    });

    function manejarCambioInput(input, contenedor) {

        input.addEventListener('change', function () {
            const files = input.files;

            for (let i = 0; i < files.length; i++) {
                const imagen = files[i];
                imagenesSeleccionadas.push(imagen);

                // Muestra la imagen en el contenedor
                const imagenElement = document.createElement('img');
                imagenElement.classList.add('imagen');
                imagenElement.classList.add('img-carter');
                imagenElement.src = URL.createObjectURL(imagen);

                const contenedorId = contenedor.getAttribute('id');
                imagenElement.setAttribute('casillaId', contenedorId);
                contenedor.appendChild(imagenElement);
            }

            input.value = '';
        });
    }
</script>


<script>

    function obtenerTablasConAtributo() {
        const contenedorImagenes = document.querySelectorAll('.content-table-line');
        const valoresTabla = [];

        contenedorImagenes.forEach(function (contenedor) {
            const tablaCarter = contenedor.querySelector(`table[position="tablaCarter"]`);

            if (tablaCarter) {
                const idTabla = tablaCarter.getAttribute('id');
                var numeroEG = parseInt(idTabla.match(/\d+/)[0], 10);

                const filas = tablaCarter.querySelectorAll('tbody tr');
                var valoresFila = {
                    idCarter: "",//idTabla + obtenerFecha("format"),
                    NumeroGenerador: parseInt(numeroEG),
                    nivelCarterNuevo: 0,
                    nivelTKNuevo: 0,
                    contometroNuevo: 0,
                    IdReporteDiario: idReporteDiario,
                    Fecha: obtenerFecha("fechaVista")
                };

                filas.forEach(function (fila) {
                    valoresFila['idCarter'] = datosOperario.IdSitio + '-Carter-' + obtenerFecha("format") + numeroEG;
                    const celdas = fila.querySelectorAll('td');
                    celdas.forEach(function (celda, index) {
                        if (celda.querySelector('input')) {
                            const contenedorId = celda.getAttribute('descripcion');

                            const valor = celda.querySelector('input').value;
                            if (contenedorId == "nivelCarterNuevo") {
                                valoresFila['nivelCarterNuevo'] = parseInt(valor);
                            }

                            if (contenedorId == "nivelTKNuevo") {
                                valoresFila['nivelTKNuevo'] = parseInt(valor);
                            }

                            if (contenedorId == "contometroNuevo") {
                                valoresFila['contometroNuevo'] = parseInt(valor);
                            }
                        }
                    });
                });

                valoresTabla.push(valoresFila);
            }
        });

        return valoresTabla;
    }

    function ObtenerDatosVersel() {

        var inputs = document.querySelectorAll('.table-serv input');
        var datosExpansionVersel = [];

        inputs.forEach(function (input) {
            if (input.value != "" && input.value != null) {
                var datos = {
                    numeroGenerador: parseInt(input.getAttribute('position')),
                    medicion: parseInt(input.value),
                    idReporteDiario: idReporteDiario
                };
                datosExpansionVersel.push(datos);
            }
        });

        return datosExpansionVersel;
    }




</script>




<script>

    function guardarImagenesEnServidor() {
        const datosImagenes = [];

        const contenedorImagenes = document.querySelectorAll('.content-generators-imagen');

        contenedorImagenes.forEach(function (img, index) {
            const imagenes = img.querySelectorAll('img');
            imagenes.forEach(function (imagen) {
                const src = imagen.getAttribute('src');
                const casillaid = imagen.getAttribute('casillaid');

                // Leer la imagen en base64 y agregarla a datosImagenes
                fetch(src)
                    .then(response => response.blob())
                    .then(blob => {
                        const reader = new FileReader();
                        reader.onload = function () {
                            const base64Data = reader.result;
                            datosImagenes.push({ base64: base64Data, casillaid: casillaid });

                            // Verificar si se han procesado todas las imágenes
                            if (datosImagenes.length === imagenes.length) {
                                // Enviar la solicitud POST una vez que se hayan procesado todas las imágenes
                                enviarSolicitudPOST(datosImagenes);
                            }
                        };
                        reader.readAsDataURL(blob);
                    });
            });
        });
    }

    function enviarSolicitudPOST(datosImagenes) {
        fetch('@Url.Action("GuardarImagen", "RegMantenimiento")', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(datosImagenes)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.respuesta.idRespuesta === 0 || data.respuesta.idRespuesta === 1) {
                    Swal.fire({
                        title: "Success!!",
                        text: "Se guardaron los datos.",
                        icon: "success",
                        button: "Aww yiss!",
                    });
                } else {
                    Swal.fire({
                        title: "Error",
                        text: data.respuesta.mensaje,
                        icon: "error",
                        button: "OK",
                    });
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    }
</script>